/* 主题切换过渡动画样式 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 999;
}

[data-theme='dark']::view-transition-old(root) {
  z-index: 999;
}

[data-theme='dark']::view-transition-new(root) {
  z-index: 1;
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at var(--circle-center));
  }
  to {
    clip-path: circle(150% at var(--circle-center));
  }
}

@keyframes circle-out {
  from {
    clip-path: circle(150% at var(--circle-center));
  }
  to {
    clip-path: circle(0% at var(--circle-center));
  }
}

::view-transition-old(root) {
  animation: 0.5s cubic-bezier(0.4, 0, 0.2, 1) both circle-out;
}

::view-transition-new(root) {
  animation: 0.5s cubic-bezier(0.4, 0, 0.2, 1) both circle-in;
} 